<h1>Students Edit Form</h1>

<%= form_for @student do |f| %>
    <%= f.label 'Name'%>
    <%= f.text_field :name %>
    <%= f.label 'Student Age'%>
    <%= f.text_field :age %>
    <%= f.submit 'Create Student'%>
    <% end %>